.vscode/
node_modules/

/KData
/DataSupply

web.config

/common-

/Projects/JSONAdminApi
/Projects/JSONImport
/Projects/JSONUser
/Projects/Tally
/Projects/JSONReports
/Projects/JSONUtility

/public/JSONUser
/public/Tally
/public/JSONReports
/public/JSONAdminApi
/public/JSONUtility

/restclient/JSONAdminApi

.env
