<div class="col-4">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <h5 class="card-title ItemNameClass">{{ItemName}}</h5>
                <p>Rows : <span class="RowCountClass">{{RowCount}}</span> </p>
                <a href="#" keshavsoftItemName="{{ItemName}}" class="btn btn-primary keshavsoftItemclick">Screens :
                    <span class="ScreenCountClass">{{ScreenCount}}</span>
                </a>
            </div>
        </div>
    </div>
</div>